# Sensible data
/.env

# Docker enviroment
!/docker/mysql/data
/docker/mysql/data
!/docker/mysql/data/.gitkeep

# Edtor/IDE settings
/.idea

# Symfony standard gitignore
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
